.html {
    cursor: url(assets/watercolor-watermelon-5.png), auto;	
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #eeeeee;
}

/* The highlight brush stroke */
.highlight{
    background: url(assets/green-highlight.png);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
}

/* Navigation bar on top of every page */

.navbar{
    font-family: 'ABeeZee', 'Montserrat', sans-serif;
    border-bottom: 3px solid #d6d5d5;
    background-color:rgba(255,255,255);
}

.nav-link {
    margin-right: 30px;
    text-decoration: none;
    color: #004403 !important;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    transition: color 0.5s;
}

.nav-link:hover{
    border-bottom: 2px solid #5DB66D !important;
    color:#5DB66D !important;
}

.active-nav-link a{
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 2px solid #5DB66D;
    color:#5DB66D !important;
}

/* EZ Fresh on the top left in the navigation bar */

.navbar-brand{
    text-decoration: none;
    font-size: 1.5em; 
    color:#004403 !important;
}

/* The body of the home page */

/* Opening section */

.startsec{
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    padding-top: 80px;
    background-image: url(assets/leaves-5643327_1920.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.startsectag{
    display: flex;
    flex-wrap:wrap;
    font-size:x-large;
    align-content: center;
    /* padding-top:40%;
    padding-bottom:37%;
    padding-left:34%;
    padding-right:15%; */
    padding-right: 33%;
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 27%;
    background-image: url(assets/framed-price-tag.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
}

.startsectag span{
    padding: 8px 0;
}

.startsecimg{
    display:flex;
    justify-content: center;
}

.linktohaul{
    background-color:#f7f4f4;
    color:#004403;
    text-decoration:none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    transition: color 0.5s;
}

.linktohaul:hover{
    border-bottom: 2px solid #5DB66D !important;
    color:#5DB66D !important;
}

/* The welcome phrase */
.welcome{
    display: flex;
    flex-wrap: nowrap;
}

.welcome p{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1em;
    background-image: url(assets/green-leave-frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8px 0;
}
.goldenleaf{
    background-image: url(assets/combine-fruits.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

/* Section 1 */
.icon{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Section 2 */
.section2{
    padding-top:3%;
}

.sec2img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption{
    font-size:medium;
}

.heading{
    font-size: 2em;
    color:#004403;
    font-weight: bold;
}

.title{
    font-size: 2em;
    color:#004403;
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* Weekly Haul */

