body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #eeeeee;
}

/* The highlight brush stroke */
.highlight{
    background: url(assets/green-highlight.png);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
}

/* Navigation bar on top of every page */
.navbar{
    font-family: 'ABeeZee', 'Montserrat', sans-serif;
    border-bottom: 3px solid #d6d5d5;
    background-color:rgba(255,255,255);
}
.nav-link {
    margin-right: 30px;
    text-decoration: none;
    color: #004403 !important;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    transition: color 0.5s;
}
.nav-link:hover{
    border-bottom: 2px solid #5DB66D !important;
    color:#5DB66D !important;
}
.active-nav-link a{
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 2px solid #5DB66D;
    color:#5DB66D !important;
}

/* EZ Fresh on the top left in the navigation bar */
.navbar-brand{
    text-decoration: none;
    font-size: 1.5em; 
    color:#004403 !important;
}

/* The body of the home page */

/* Opening section */
.startsec{
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    padding-top: 80px;
    background-image: url(assets/leaves-5643327_1920.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.startsectag{
    display: flex;
    flex-wrap:wrap;
    font-size:small;
    align-content: center;
    padding-right: 33%; /*33*/
    padding-top: 12%;
    padding-bottom: 10%;
    padding-left: 23%; /*27*/
    background-image: url(assets/framed-price-tag.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
}
.startsecimg{
    display:flex;
    justify-content: center;
}
/* Change font-size for "We Care for Our Community" */
@media (min-width: 375px){
    .startText{
        font-size:medium;
    }
}
@media (min-width: 576px){
    .startText{
        font-size:x-large;
    }
}
@media (min-width: 768px){
    .startText{
        font-size:xx-large;
    }
}
@media (min-width: 992px){
    .startText{
        font-size:large;
    }
}
@media (min-width: 1200px){
    .startText{
        font-size:x-large;
    }
}

/* Change color for different action handlers */
.prettyLink{
    color:#004403;
    text-decoration:none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    transition: color 0.5s;
}
.prettyLink:hover{
    border-bottom: 2px solid #5DB66D !important;
    color:#5DB66D !important;
}
.form-control:focus{
    border-color:#5DB66D !important;
    box-shadow: 0 0 0 0.25rem rgba(95,216,64,0.25) !important; 
}
.btn{
    background-color:#72b67e; 
    color:#ffffff;
    transition: color 0.5s;
}
.btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(95,216,64,0.25) !important; 
}
.btn:hover{
    background-color:#d4d4d4 !important; 
    color:#4e7c57 !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(95,216,64,0.25) !important;
}

/* The welcome phrase */
/* .welcome{
    display: flex;
    flex-wrap: nowrap;
}

.welcome p{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1em;
    background-image: url(assets/green-leave-frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8px 0;
}
.goldenleaf{
    background-image: url(assets/combine-fruits.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 5%;
} */

/* Section 1 */
.icon{
    font-family: 'ABeeZee', 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
}

/* Section 2 */
.sec2img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption{
    font-size:medium;
    background-color:#eeeeee;
}
.heading{
    font-size: 2em;
    color:#004403;
    font-weight: bold;
}
.title{
    font-size: 2em;
    color:#004403;
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* Section 3 */
.sec3img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Weekly Recipe Haul */
.card-title{
    color:#474747;
}
.card-text{
    font-size: 0.9em;
}
.recipeCredit{
    font-size:small;
    font-style:italic;
}

/* Footer */
.endFooter{
    font-family: 'ABeeZee', 'Montserrat', sans-serif;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#e2dcdc;
    color:#ffffff;
}
.footercol{
    display:flex;
    flex-direction:column;
    color:#004403;
}

